# Database related variables
DB_URL=
DB_DRIVER=
DB_USER=
DB_PASSWORD=
DB_NAME=

# Port of the app
PORT=
# Secret used for generating tokens
AUTH_SECRET=
# Key for using Acoustid services
ACOUSTID_API_KEY=
# Space per folder for each user
TOTAL_SPACE_PER_FOLDER=

# To add a default admin user to the app
ADMIN_PASSWORD=
ADMIN_USERNAME=