# Database related variables
DB_URL=
DB_DRIVER=
DB_USER=
DB_PASSWORD=
DB_NAME=

# Port of the app
PORT=8080
# Secret used for generating tokens
AUTH_SECRET=
# Key for using Acoustid services
ACOUSTID_API_KEY=
# Space per folder for each user
TOTAL_SPACE_PER_FOLDER=15

# To add a default admin user to the app
ADMIN_PASSWORD=
ADMIN_USERNAME=

# For server logging:
# Possibles values: TRACE, DEBUG, INFO, WARN, ERROR, OFF, ALL
ROOT_LOG_LEVEL=WARN

CLOUDY_LOG_LEVEL=INFO

KTOR_LOG_LEVEL=INFO

NETTY_LOG_LEVEL=WARN
JETTY_LOG_LEVEL=WARN

EXPOSED_LOG_LEVEL=WARN

JAUDIOTAGGER_LOG_LEVEL=WARN
